body {
  height: 300px;
  padding-top: 50px;
  min-height: 2000px;
}
.header {
  height: 200px;
  width: 100%;
  background-color: blue;
}
.menu {
  height: 40px;
  width: 100%;
  background-color: brown;
}

.content {
  height: 600px;
  width: 935px;
  background-color: burlywood;
  margin-right: 400px;
}

.sidebar {
  height: 600px;
  width: 30%;
  background-color: tomato;
  margin-top: -618px;
  float: right;
}
.footer {
  height: 60px;
  width: 100%;
  background-color: blue;
}
